html {
  font-size: 1rem;
}

@media (max-width: 620px) {
  html {
    font-size: 0.8rem;
  }
}

/* 
    ============  HIDE SCROLL-BAR ID ================= 
*/

#hideScrollBar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

#hideScrollBar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* 
    ============  PAGE TRANSITION  ================= 
*/

.page-transition {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.page-transition.animate {
  opacity: 0;
}

/* 
    ============  HIGHLIGHTED  ================= 
*/

.highlighted {
  scale: 1.1;
  background-color: red;
}

/* 
    ============  FOOTER  ===========
*/

.bottom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: #005c99;
  text-align: center;
  border: 0.1rem solid white;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
